doctype doctype html
html(lang="ko")
    head
        title #{pageTitle} | Ongtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header 
            h1
                a(href="/")=pageTitle
            block headerContent
        main
            block content
    include partials/footer